<footer class="mt-auto text-white-50">
    <p>Game Gifters made by <a href="https://github.com/rngolam" class="off-white">Richard</a> and <a href="https://github.com/chang-s" class="off-white">Sola</a>.</p>
</footer>