<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0"><img src="assets/images/gift-box.png" width="50" height="50"></h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link <% if (page_name === 'home') { %>active<% } %>" href="/">Home</a>
            <a class="nav-link <% if (page_name === 'employees') { %>active<% } %>" href="/employees">Employees</a>
            <a class="nav-link <% if (page_name === 'games') { %>active<% } %>" href="/games">Games</a>
            <a class="nav-link <% if (page_name === 'wishes') { %>active<% } %>" href="/wishes">Wishes</a>
            <a class="nav-link <% if (page_name === 'gifts') { %>active<% } %>" href="/gifts">Gifts</a>
            <a class="nav-link" href="/reset-tables">Reset Tables</a>
        </nav>
    </div>
</header>