<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <%- include('../partials/head'); %>
        <title>Game Gifters | Gaming Wishlists</title>
    </head>

    <body class="d-flex h-100 text-center text-white bg-dark splash">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <%- include('../partials/header'); %>

            <main class="small-box splash">
                <h1>Game Gifters.</h1>
                <p class="lead caption">
                    Track video game wishlists for your company's employees.
                </p>
                <p class="lead">
                    <a
                        href="/games"
                        class="
                            btn btn-lg
                            splash-button
                            fw-bold
                            border-white
                            bg-white
                        "
                        >Browse Games</a
                    >
                </p>
            </main>

            <%- include('../partials/footer'); %>
        </div>
    </body>
</html>
